.deps/
.libs/
.vscode/
*.o
*.lo
*.a
*.la
*.pc
*.pc.in
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
gitversion.h
libtool
ppcg
opencl_test.sh
polybench_test.sh
isl/bound_test.sh
isl/codegen_test.sh
isl/flow_test.sh
isl/include/isl/stdint.h
isl/include/isl/cpp-checked.h
isl/include/isl/cpp.h
isl/interface/extract_interface
isl/isl-uninstalled.sh
isl/isl_bound
isl/isl_cat
isl/isl_closure
isl/isl_codegen
isl/isl_config.h
isl/isl_flow
isl/isl_flow_cmp
isl/isl_pip
isl/isl_polyhedron_detect_equalities
isl/isl_polyhedron_minimize
isl/isl_polyhedron_sample
isl/isl_polytope_scan
isl/isl_schedule
isl/isl_schedule_cmp
isl/isl_srcdir.c
isl/isl_test
isl/isl_test_cpp
isl/isl_test_cpp-checked
isl/isl_test_cpp-checked-conversion
isl/isl_test_int
isl/pip_test.sh
isl/schedule_test.sh
isl/stamp-h1
pet/all.c
pet/codegen_test.sh
pet/config.h
pet/pet
pet/pet-uninstalled.sh
pet/pet_check_code
pet/pet_codegen
pet/pet_scop_cmp
pet/pet_test.sh
pet/stamp-h1

